doctype 5
html
	head
		title Magellan's Travels
		link(type='text/css', rel='Stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css')
		link(type='text/css', rel='Stylesheet', href='/stylesheets/style.css')
	body
		h1 Magellan's Travels
		h2#current Ready? 
		h3#description Set.
		br
		a#travel-button.btn.btn-large.btn-info(data='Seville') GO!

		script(src='http://code.jquery.com/jquery-2.0.3.min.js')
		script(src='/javascripts/main.js')
